.btn{
    margin: 50px auto;
}
body{
    background: darkcyan;
    background-size: cover;
    width: 400px;
    height: 200px;
    margin: 30px auto;

    
}
.form{
    background: khaki;
}

.pStyle{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
color: white;
}
.pClass{
font-weight: 300;
font-size: 15px;
}
.pGame{
    display: flex;
    justify-content: center;
margin: 30px auto;
font-weight: 500;
font-size: 15px;
}